/*Общие стили*/
*, ::before, ::after {
	box-sizing: border-box;
}
body {
	padding: 0;
}
.wrapper {
	max-width: 1000px;
	margin: 0 auto;
}

/*Аккордеон*/
.accordion-item {
	margin-bottom: 10px;
}
.accordion-item__input {
	display: none;
	&:checked ~ .accordion-item__content {
		display: block;
		animation-play-state: running;
	}
	&:checked ~ .accordion-item__trigger {
		background-color: lightblue;
	}
}
.accordion-item__trigger {
	padding: 5px;
	display: block;
	border: 1px solid green;
}
.accordion-item__content {
	padding: 5px;
	display: none;
	border: 1px solid green;
	border-top: 0;
	transition: 0.5s;
	animation: fadeIn 1s linear;
	animation-play-state: paused;
}

/*Анимация*/
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to	{
		opacity: 1;
	}
}